<div class="operations-container">
    <div class="komentar-op komentar komentar-list">
        <input  (keyup)="idKeyUp($event)" type="number" placeholder="Id studneta">
        <button  (click)="komentariStudenta()">Izlistaj komentare studenta</button>
    </div>

    <div class="komentar-op komentar komentar-list">
        <input  (keyup)="idKeyUpPredmeta($event)" type="number" placeholder="Id predmeta">
        <button  (click)="komentariPredmeta()">Izlistaj komentare predmeta</button>

    </div>
   
     <div class="komentar-op komentar-insertion">
        <input (keyup)="idChange($event)" type="text" placeholder="Id komanetara">
        
       
        <button (click)="UpdateKomentar()">Azuriraj</button>
        

    </div>
    <div class="komentar-op komentar-deletion">
        <input (keyup)="deletionKeyUp($event)" type="number" placeholder="Id komentara">
        <button (click)="deleteKomentar()">Obrisi komentar</button>
    </div>
    <div class="komentar-op komentar-preview">
        <button (click)="getKomentari()">Izlistaj komentare</button>
        <button (click)="cleanList()">Ocisti listu</button>
       
        
        
       
      
    </div>
</div>
    <div class="lista">
    <div *ngIf="komentariArray" class="komentari-container">
        <div *ngFor="let kom of komentariArray">
            <p>{{kom.id}} | {{kom.text}} </p>
        </div>
        <button (click)="cleanList()">Close</button>

    </div>
    <div *ngIf="komentarToChange" class="change-container">
        <label>Novi komentar</label>
        <input (keyup)="textKeyUp($event)" type="text" placeholder="Novi komentar"
            [value]="komentarToChange ? komentarToChange.text : ''">
      
       
    </div>
  </div>


