<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/Client/src/login/login.component.css">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  
  <script>
    var app = angular.module("myApp", ["ngRoute"]);
    app.config(function($routeProvider) {
        $routeProvider
        .when("/Client/src/signin/signin.component.html", {
            templateUrl : "/Client/src/signin/signin.component.html"
        })
     
    });
</script>
 
</head>
<body ng-app="myApp" ng-cotroller="myCtrl">
  <div class="toolbar">
    <img src="/Client/src/slike/logoFinal.png">
  </div>

  <div class="meniDiv">
  <div class="loginDiv">
    <div class="loginDivYellow">
      <div class="divLabel">
        <input type="text" id="email" name="email" placeholder="Unesite email">
      </div>

      <div class="divLabel">
        <input type="password" id="password" name="password" placeholder="Unesite šifru">
      </div>

      <div style="display:flex; justify-content: center;">
        <button class="btnPrijaviSe">PRIJAVI SE</button>
      </div>

      <div class="btnRegistrujSe" style="display:flex; justify-content: center;  margin-left: 5%;">
        <a href="/Client/src/signin/signin.component.html" style="color:#29082b">Registruj se</a>
      </div>

    </div>
  </div>
  </div>

</body>
</html>
