<div class="container">
    <div class="predmet-op predmet-insertion">
        <h1>Dodavanje novog predmeta</h1>
        <input (keyup)="nazivKeyUp($event)" type="text" placeholder="Naziv predmeta">
        <select (change)="modulChange($event)" name="moduli">
            <option *ngFor="let modul of moduli">
                {{modul}}
            </option>
        </select>
        <select (change)="semestarChange($event)" name="semestri">
            <option *ngFor="let semestar of semestri">
                {{semestar}}
            </option>
        </select>
        <input (keyup)="espbKeyUp($event)" type="number" placeholder="ESPB" min="3" max="8">
        <input (keyup)="opisKeyUp($event)" type="text" placeholder="Opis">
        <select (change)="tagChange($event)" name="tagovi" multiple>
            <option *ngFor="let tag of tagovi">
                {{tag.naziv}}
            </option>
        </select>
        <button (click)="dodajPredmet()">Dodaj predmet</button>
    </div>
    <div class="predmet-op predmet-deletion">
        <input (keyup)="deletionKeyUp($event)" type="number" placeholder="Id predmeta za brisanje">
        <button (click)="deletePredmet()">Obrisi predmet</button>
    </div>
    <div class="predmet-op predmet-preview">
        <h1>Lista predmeta</h1>
        <button (click)="getPredmeti()">Prikazi sve predmete</button>
        <button (click)="cleanPredmeti()">Obrisi listu</button>
        <select (change)="predmetChange($event)" *ngIf="predmeti">
            <option *ngFor="let predmet of predmeti">
                {{predmet.naziv}}
            </option>
        </select>
        <div *ngIf="selectedPredmet">
            <p>ID: {{selectedPredmet.id}}</p>
            <p>Naziv: {{selectedPredmet.naziv}}</p>
            <p>ESPB: {{selectedPredmet.espb}}</p>
            <p>Semestar: {{selectedPredmet.semestar}}</p>
            <ul *ngIf="selectedPredmet.tagovi">
                <li *ngFor="let tag of selectedPredmet.tagovi">
                    {{tag.naziv}}
                </li>
            </ul>
        </div>
    </div>
</div>