.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.predmet-op {
    padding: 20px;
    border-bottom: 1px solid black;
    display:flex;
    flex-direction: column;
}

.change-container {
    display: flex;
    flex-direction: column;
}  button{
    cursor: pointer;
  }