<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="toolbar">
      <label (click)="redirectToHome()" class="labelMenu">HOME</label>
      <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
      <button (click)="redirectToLogin()" class="btnLOGIN" *ngIf="!isLoggedIn()">LOGIN</button>
      <label (click)="redirectToProfil()" class="lblPROFIL" *ngIf="isLoggedIn()">
        <span class="material-symbols-outlined">
          account_circle
        </span>PROFIL
      </label>
    </div>
  
    <h1>LISTA ZAHTEVA KOJI JOS UVEK NISU ODOBRENI:</h1>
    <div id="zahtevi">
      <ng-container *ngFor="let zahtev of zahtevi">
        <div class="zahtev" *ngIf="!zahtev.odobren">
          {{ zahtev.property1 }}
          <div class="infodiv">
            <label *ngIf="zahtev.literatura && zahtev.literatura.student">
              Student koji salje zahtev: {{ zahtev.literatura.student?.username }}
            </label>
            <label>Naziv literature: {{ zahtev.literatura?.filePath }}</label>
          </div>
          <div class="odobridiv"></div>
          <button class="btnOdobri" *ngIf="canShowButtons()" type="button" (click)="dodaj(zahtev)">
            <span class="material-icons">check</span> Odobri
          </button>
          <button class="btnOdbije" *ngIf="canShowButtons()" type="button" (click)="odbij(zahtev)">
            <span class="material-icons">close</span> Odbij
          </button>
        </div>
      </ng-container>
    </div>
    
    
      
  </body>
  