.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    color: black;
    background-color: rgb(255, 51, 51);
    animation: fadeIn 1s;
}

@keyframes slideIn {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}