<body>
    <div class="toolbar">
        <div class="tool-left">
            <img src="../assets/logoFinal.png">
        </div>
        <div class="tool-right">
            <label class="labelMenu">PREDMETI</label>
            <label class="labelMenu">OGLASNA</label>
            <button (click)="redirectToLogin()" class="btnLOGIN" routerLink="/login">LOGIN</button>
        </div>

    </div>
    <div class="prikaz">
        <div class="prikaz-levo">
            <label class="labelMain">Izaberry.me portal</label>
            <label class="labelDobrodosli">Dobrodošli!</label>
            <p class="pDobro">Napravljen kako bi pomogao studentima da se organizuju tokom semestra na jednostavan i
                efikasan
                način.
                Aplikacija vam pomaže u izboru izbornih predmeta, organizayiju obaveza i povezivanje sa drugim
                studentima
                kako biste organizovali učenje i društvene aktivnosti. Nadamo se da će vam ovaj portal olakšati
                organizaciju i
                dovesti do
                boljih akademskih rezultata i opšteg iskustva tokom studija!
            </p>

            <button class="btntest">URADI TEST</button>



        </div>
        <div class="prikaz-desno">
            <img src="../assets/comppic2.png">
        </div>
    </div>
    <div class="bottom-bar">
    </div>
</body>