<div class="operations-container">
    <div class="modul-op modul-insertion">
        <input (keyup)="modulKeyUp($event)" type="text" placeholder="Naziv novog modula">
        <button (click)="createModule()">Dodaj modul</button>
    </div>
    <div class="modul-op modul-deletion">
        <input (keyup)="idKeyUp($event)" type="number" placeholder="Id modula za brisanje">
        <button (click)="deleteModule()">Obrisi modul</button>
    </div>
    <div class="modul-op modul-preview">
        <button (click)="getModules()">Izlistaj module</button>
        <button (click)="cleanModules()">Ocisti listu</button>
        <div *ngIf="moduli" class="modul-container">
            <div *ngFor="let modul of moduli">
                <p>{{modul.id}} | {{modul.naziv}}</p>
            </div>
        </div>
    </div>
</div>