<body>
    <div>
        <label for="firstPage">Slika pocetne strane indeksa</label>
        <input (change)="indexPage($event)" type="file" name="firstPage" required>
        <label for="predmetPage">Slika potpisa polozenog ispita</label>
        <input (change)="predmetPage($event)" type="file" name="predmetPage" required>
        <button (click)="sendRequest()">Posalji zahtev</button>
        <div *ngIf="message" [ngClass]="{'error' : isError == true}">
            {{message}}
        </div>
    </div>
</body>