
<body>
<h1 (click)="getUserComments()">Prikazi poruke</h1>

<div class="poruke-container">
  <div *ngFor="let poruka of poruke">
     {{ poruka.chat.studentPosiljaoc.username}} : {{ poruka.text }} 
     <button (click)="odgovori(poruka)"> Odgovori </button>
     <button (click)="obrisi(poruka)"> Obrisi </button>

    

  </div>


  <div class="chat" #divContainer>
    
      </div>
    
      <input (keyup)="idKeyUp($event)" type="text">
      <button (click)="posalji()">Send</button>
      <button (click)="sacuvaj()">Save</button>
      
    </div>
</body>

  

