.comments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  height: 50%;
  width: 100%;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  margin-bottom: 15%;
  margin-top: 15%;
}
h1{
  display: inline-block;
  padding: 10px 20px;
  background-color:#e2496a;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-size: 24px;
}

h1{
  background-color: #e2496a;
}

h1{
  outline: none;
  box-shadow: 0 0 0 3px white;
}


.chat {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e2496a #fff;
}

.chat::-webkit-scrollbar {
  width: 8px;
}

.chat::-webkit-scrollbar-track {
  background-color: #fff;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #e2496a;
}

input {
  width: 90%;
  border-radius: 20px;
  padding: 10px 0px 10px 10px;
  align-self: center;
}

.btn {
  border: 0;
  padding: 10px;
  width: 20%;
  margin-right: 5%;
  border-radius: 20px;
  background: #e2496a;
  color: #fff;
  font-family: "Bree Serif";
  font-size: 1rem;
  margin: 5px 2px;
  display: flex;
  justify-self: end;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.chat-container button {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  width: min-content;
}

.poruka {
  display: flex;
  flex-direction: row;
}

.border {
  margin: 1px solid black;
}

.div-levo {
  display: flex;
  justify-content: end;
  text-align: right;
  align-items: flex-end;
}

.div-desno {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: start;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-desno .ZaPoruku {
  background-color: darkcyan;
}

.div-levo .ZaPoruku {
  background-color: #e2496a;
}

.ZaPoruku {
  height: 25%;
  padding: 5px;
  background-color: #ff718d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  width: max-content;
  height: max-content;
  margin: 1.5%;
}

.poruke-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin-left: 10%;
  width: 50%;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
