
<body>


 <div class="poruke-container">
  
   <div *ngIf="prikazicet"  class="border">
      <h1>Nepročitane poruke</h1> 
      <div  *ngFor="let poruka of poruke">
       
         {{ poruka.chat.studentPrimaoc?.email || poruka.chat.studentPosiljaoc?.email }}
    : {{ poruka.text }} 
     <div class="poruka">
     <button  class="btn" (click)="odgovori(poruka)"> Odgovori </button>
     <button  class="btn"  (click)="obrisi(poruka)"> Obrisi </button>
     </div>
      </div>

  </div>

  <div class="chat-container" *ngIf="showChatContainer">
     <div class="chat" #divContainer>

      </div>
    
    
      <input (keyup)="idKeyUp($event)" type="text" [(ngModel)]="text" placeholder="Unesite poruku...">
      
      <button class="btn" (click)="kreirajPoruku()">Send</button>
          
          
   </div>
    </div>
</body>

  

