<body>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div class="toolbar">
  <label (click)="redirectToHome()" class="labelMenu">HOME</label>
  <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
  <button (click)="redirectToLogin()" class="btnLOGIN" *ngIf="!isLoggedIn()">LOGIN</button>
  <label (click)="redirectToProfil()" class="lblPROFIL" *ngIf="isLoggedIn()">
    <span class="material-symbols-outlined">
      account_circle
    </span>PROFIL
  </label>

</div>

<h2>Literatura koju želite da dodate</h2>
<label for="literatura">Literatura:</label>
<input type="text" id="literatura" name="literatura">
<button type="button" (click)="redirectToZahtevi()">Pošalji zahtev</button>
</body>
