<div class="body" *ngIf="predmet">
    <div class="oglasna">
        <button class="oglasnabtn" (click)="gotoOglasna()">Oglasna tabla</button>
        <button class="oglasnabtn" (click)="gotoLiteratura()">Literatura predmeta</button>
        <button *ngIf="isLoggedIn" class="oglasnabtn" (click)="gotoMentorRequest()">Postani mentor ovog predmeta!</button>
    </div>
    <h1>{{predmet.naziv}}</h1>
    <h2>Modul: {{predmet.modul.naziv}}</h2>
    <p>Semestar: {{predmet.semestar}}</p>
    <p>ESPB: {{predmet.espb}}</p>
    <p>Opis: {{predmet.opis}}</p>
    <div class="add-ocena" *ngIf="isLoggedIn">
        <label>Angazovanje profesora</label>
        <input [(ngModel)]="ocena.angazovanjeProfesora" type="number" placeholder="Angazovanje profesora" min="1" max="5"><br>
        <label>Laboratorijske vezbe</label>
        <input [(ngModel)]="ocena.laboratorijskeVezbe" type="number" placeholder="Laboratorijske vezbe" min="1" max="5"><br>
        <label>Tezina predmeta</label>
        <input [(ngModel)]="ocena.tezinaPredmeta" type="number" placeholder="Tezina" min="1" max="5"><br>
        <label>Prakticno znanje</label>
        <input [(ngModel)]="ocena.prakticnoZnanje" type="number" placeholder="Prakticno znanje" min="1" max="5"><br>
        <label>Dostupnost materijala</label>
        <input [(ngModel)]="ocena.dostupnostMaterijala" type="number" placeholder="Dostupnost materijala" min="1" max="5"><br>
        <button (click)="addOcena()">Dodaj ocenu</button>
    </div>
    <div *ngIf="predmet.ocene" class="ocene-container">
        <app-ocena-preview *ngFor="let ocena of predmet.ocene" [ocena]="ocena"></app-ocena-preview>
    </div>

    <div class="add-comment-container" *ngIf="isLoggedIn">
        <input (keyup)="komentarKeyUp($event)" type="text" placeholder="Unesite komentar">
        <button class="Dodajbutton" (click)="dodajKomentar()" value="Komentarisi">Dodaj komentar</button>
    </div>
    <div class="komentari-container" *ngIf="predmet.komentari">
        <div class="komentar" *ngFor="let komentar of predmet.komentari">
            <span [id]="komentar.student.id" (click)="viewProfile($event)">{{komentar.student.username}}|</span>
            <p>{{komentar.text}}</p>
            <button *ngIf="userService.user && komentar.student.username == userService.user.username">X</button>
        </div>
    </div>
</div>