.komentar {
    display: flex;
    justify-content: start;
    align-items: center;
    animation: fadeIn 2s;
}

.oglasna {
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}