<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>

    <div *ngIf="localId == userId">
        <div class="unesidatum">
            <label>Datum:</label>
            <input [(ngModel)]="newEvent.date" type="date">
        </div>
        <div class="unesitekst">
            <label> Beleska:</label>
            <input [(ngModel)]="newEvent.title" placeholder="Naslov">

        </div>
        <div>
            <button (click)="addEventToDatabase()"> Dodaj</button>
        </div>
    </div>

</body>

</html>