<div class="body">
    <div class="toolbar">
        <div class="tool-left">
            <img src="../assets/logoFinal.png">
        </div>
        <div class="tool-right">
        <button class="izloguj" (click)="logOut()">logOut</button>
       </div>

    </div>
      
   
    <div class="panel-options">
       
        <div routerLink="predmeti" class="panel-option">
            Predmeti
        </div>
        <div class="panel-option">
            Studenti
        </div>
        <div class="panel-option">
            Mentori
        </div>
        <div routerLink="literatura" class="panel-option">
            Literatura
        </div>
        <div routerLink="komentari" class="panel-option">
            Komentari
        </div>
        <div routerLink="tagovi" class="panel-option">
            Tagovi
        </div>
        <div routerLink="moduli" class="panel-option">
            Moduli
        </div>
    </div>
    <div class="option-preview">
        <router-outlet></router-outlet>
    </div>
</div>