<div class="body">
    <div class="panel-options">
        <div routerLink="predmeti" class="panel-option">
            Predmeti
        </div>
        <div class="panel-option">
            Studenti
        </div>
        <div class="panel-option">
            Mentori
        </div>
        <div class="panel-option">
            Literatura
        </div>
        <div class="panel-option">
            Komentari
        </div>
        <div routerLink="tagovi" class="panel-option">
            Tagovi
        </div>
        <div routerLink="moduli" class="panel-option">
            Moduli
        </div>
    </div>
    <div class="option-preview">
        <router-outlet></router-outlet>
    </div>
</div>