<div class="mentor-op mentor-request-list" *ngIf="zahtevi">
    <h1>Lista zahteva</h1>
    <div *ngFor="let zahtev of zahtevi" class="mentor-request-preview">
        <p (click)="studentProfile($event)" [id]="zahtev.student!.id">Student: {{zahtev.student!.username}}</p>
        <p>Predmet: {{zahtev.predmet!.naziv}}</p>
        <a [href]="zahtev.indeksPhoto" target="_blank"><img [src]="zahtev.indeksPhoto" width="100px"></a>
        <a [href]="zahtev.predmetPhoto" target="_blank"><img [src]="zahtev.predmetPhoto" width="100px"></a><br>
        <button (click)="odobriMentorstvo($event)" [id]="zahtev.id">Odobri</button>
        <button (click)="odbijMentorstvo($event)" [id]="zahtev.id">Odbij</button>
        <div *ngIf="response.message" [class.error]="response.isError">
            {{response.message}}
        </div>
    </div>
</div>
<div class="operations-container">
    <div class="mentor-op mentor-deletion">
        <input [(ngModel)]="mentorId" type="number" placeholder="Id mentora za brisanje">
        <button (click)="obrisiMentora()">Obrisi mentora</button>
    </div>
    <div class="mentor-op mentor-update">
        <label>Azuriranje mentora:</label>
        <input type="number" placeholder="Id mentora">

    </div>
    <div class="mentor-op mentor-preview">
        <button>Izlistaj mentore </button>
        <button>Ocisti listu</button>
    </div>
</div>