<div class="operations-container">
    <div class="mentor-op mentor-insertion">
        <button >Dodaj mentora</button>
    </div>
    <div class="mentor-op mentor-deletion">
        <input  type="number" placeholder="Id mentora za brisanje">
        <button >Obrisi mentora</button>
    </div>
    <div class="mentor-op mentor-update">
       <label>Azuriranje mentora:</label>
        <input  type="number" placeholder="Id mentora">
       
    </div>
    <div class="mentor-op mentor-preview">
        <button >Izlistaj mentore </button>
        <button >Ocisti listu</button>
       
        </div>
    </div>
        <div class="lista">
        <div  class="mentor-container">
            
        
            </div>
   
</div>
