
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>

<div class="container">
  <div *ngFor="let literatura of literature">
    <p>Naziv: {{literatura.naziv}}</p>
    <div class="file-preview" *ngIf="isJpgFile(literatura.naziv) || isPngFile(literatura.naziv)">
      <img [src]="literatura.filePath" alt="File Preview">
    </div>
    <div class="file-preview" *ngIf="isPdfFile(literatura.naziv)">
      <span class="material-symbols-outlined">
        article
        </span>
    </div>
    <a [href]="literatura.filePath" [class.pdf]="isPdfFile(literatura.naziv)" [class.jpg]="isJpgFile(literatura.naziv)" [class.png]="isPngFile(literatura.naziv)" [class.default]="!isPdfFile(literatura.naziv) && !isJpgFile(literatura.naziv) && !isPngFile(literatura.naziv)">Download</a>
  </div>
</div>
</body>

