.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.container > div {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.material-symbols-outlined {
  font-size: 500%; 
}


p {
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a.pdf {
  background-color: #ff6f69;
}

a.jpg {
  background-color: #70c1b3;
}

a.png {
  background-color: #f9c74f;
}

a.default {
  background-color: #4d4d4d;
}

a:hover {
  background-color: #333;
}

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}

.file-preview img {
  max-width: 100%;
  max-height: 100%;
}

.file-preview i {
  font-size: 48px;
  color: #ff6f69;
}

@media screen and (max-width: 768px) {
  .container > div {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .container > div {
    flex-basis: calc(100% - 20px);
  }
}
