<div class="body">
    <div class="zaglavlje">
        <label (click)="redirectToHome()" class="labelMenu" style="color: #e2496a;">HOME</label>
                <label (click)="redirectToOglasna()" class="labelMenu" style="color: #e2496a;">OGLASNA</label>
                <label (click)="redirectToPredmeti()" class="labelMenu" style="color: #e2496a;">PREDMETI</label>
                <label class="labelMenu" *ngIf="canShowButtons()" style="color: #e2496a;" (click)="redirectToZahtevi()">
                 ZAHTEVI ZA LITERATURE
                </label>
       </div>

    <div class="container" *ngIf="student">
        <div class="profile-header">
            <div class="profile-img">
                <img src="../../../assets/logoFinal.png" width="100%" alt="Profile Image">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name" *ngIf="student && student.username">{{ student.username }}</h3>
                <div class="address">
                    <p id="smer" class="smer" *ngIf="student.modul">{{ student.modul.naziv }}</p>
                </div>

            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fa fa-bell"></i>
                    <span class="alert-message">3</span>
                </div>
            </div>
        </div>

        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class="user-mail"><i class="fa fa-envelope" *ngIf="student.email"></i>{{ student.email }}</p>
                    <div class="user-bio">
                        <h3>Biografija</h3>
                        <p>{{ student.bio }}</p>
                        <div *ngIf="(localId == userId) && editingBio">
                            <textarea [(ngModel)]="student.bio"></textarea>
                   
                            <button class="editbtn" (click)="saveBio()">Save</button>
                            <button class="editbtn" (click)="cancelEditBio()">Cancel</button>
                        </div>
                        <button *ngIf="localId == userId && !editingBio" class="editbtn" (click)="editBio()">Edit</button>
                    </div>
                    <div class="profile-btn" *ngIf="localId == userId">
                        <button class="chatbtn" id="chatBtn"><i class="fa fa-comment"></i> Chat</button>
                        <button (click)="logOut()" class="chatbtn" id="logoutBtn"><i class="fa fa-comment"></i> Log
                            out</button>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="nav">
                    <ul>
                        <li routerLink="literatura" class="user-literatura">Literatura</li>
                        <li routerLink="kalendar" class="user-kalendar">Kalendar</li>
                        <li routerLink="komentar" class="user-komentar"> Komentar</li>
                        <li routerLink="preference" class="user-preference"> Preference</li>
                    </ul>
                </div>
                <div class="router-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>