<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <div class="toolbar">
    <label (click)="redirectToHome()" class="labelMenu">HOME</label>
    <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
    <button (click)="redirectToLogin()" class="btnLOGIN" routerLink="/login" *ngIf="!isLoggedIn()">LOGIN</button>
    <label (click)="redirectToProfil()" class="lblPROFIL" routerLink="/login" *ngIf="isLoggedIn()">
      <span class="material-symbols-outlined">
        account_circle
      </span>PROFIL
    </label>
    <label (click)="redirectToDodaj()" class="lblPROFIL" routerLink="/login" *ngIf="isLoggedIn()">
      <span class="material-symbols-outlined">
        add
      </span>DODAJ
    </label>
  </div>

  <div id="literatura">LITERATURA</div>
  <div style="display: flex; flex-direction: row;">
    <div class="slikelbl">
      <label>Slike:</label>
    </div>
    <div class="doklbl">
      <label>Dokumenti:</label>
    </div>
  </div>
  

  <body>

    <div class="container">
      <div class="row">
        <div id="slike" class="col">
          <ng-container *ngFor="let literatura of literature">
            <div class="literaturaslike" *ngIf="isImage(literatura.naziv)">
              <label>Autor: {{literatura.student.username}}</label>
              <label>Odobrio: {{literatura.mentor.username}}</label>
              <label *ngIf="literatura.naziv">Naziv: {{literatura.naziv}}</label>
              <img [src]="literatura.filePath" alt="Slika" />
              <a [href]="literatura.filePath" target="_blank">Download</a>
            </div>
          </ng-container>
        </div>
        <div id="dokumenti" class="col">
          <ng-container *ngFor="let literatura of literature">
            <div class="literaturadok" *ngIf="isDocument(literatura.naziv)">
              <label>Autor: {{literatura.student.username}}</label>
              <label>Odobrio: {{literatura.mentor.username}}</label>
              <label *ngIf="literatura.naziv">Naziv: {{literatura.naziv}}</label>
              <a [href]="literatura.filePath" target="_blank">Download</a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- ... -->
  </body>

</body>