<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <div class="toolbar">
    <label (click)="redirectToHome()" class="labelMenu">HOME</label>
    <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
    <button (click)="redirectToLogin()" class="btnLOGIN" routerLink="/login" *ngIf="!isLoggedIn()">LOGIN</button>
    <label (click)="redirectToProfil()" class="lblPROFIL" routerLink="/login" *ngIf="isLoggedIn()">
      <span class="material-symbols-outlined">
        account_circle
      </span>PROFIL
    </label>
    <label (click)="redirectToDodaj()" class="lblPROFIL" routerLink="/login" *ngIf="isLoggedIn()">
      <span class="material-symbols-outlined">
        add
      </span>DODAJ
    </label>
  </div>

  <div id="literatura">LITERATURA</div>

  <div class="container" *ngIf="literature">
    <div *ngFor="let literatura of literature">
      <p>Autor: {{literatura.student!.username}}</p>
      <p>Odobrio: {{literatura.mentor!.username}}</p>
      <span *ngIf="literatura.naziv">Naziv: {{literatura.naziv}}</span>
      <a [href]="literatura.filePath" target="_blank">Download</a>
    </div>
  </div>

</body>