<div class="operations-container">
    <div class="tag-op tag-insertion">
        <input (keyup)="tagKeyUp($event)" type="text" placeholder="Naziv novog taga">
        <button (click)="createTag()">Dodaj tag</button>
    </div>
    <div class="tag-op tag-deletion">
        <input (keyup)="idKeyUp($event)" type="number" placeholder="Id taga za brisanje">
        <button (click)="deleteTag()">Obrisi tag</button>
    </div>
    <div class="tag-op tag-preview">
        <button (click)="getTags()">Izlistaj tagove</button>
        <button (click)="cleanTags()">Ocisti listu</button>
       
        </div>
    </div>
        <div class="lista">
        <div *ngIf="tagovi" class="tag-container">
            <div *ngFor="let tag of tagovi">
                <p>{{tag.id}} | {{tag.naziv}}</p>
            </div>
            <button (click)="cleanTags()">Close</button>
            </div>
   
</div>