<div class="operations-container">
    <div class="tag-op tag-insertion">
        <input type="text" placeholder="Naziv novog taga">
        <button>Dodaj tag</button>
    </div>
    <div class="tag-op tag-deletion">
        <input type="text" placeholder="Naziv taga za brisanje">
        <button>Obrisi tag</button>
    </div>
    <div class="tag-op tag-preview">
        <button (click)="getTags()">Izlistaj tagove</button>
        <button (click)="cleanTags()">Ocisti listu</button>
        <div *ngIf="tagovi" class="tag-container">
            <div *ngFor="let tag of tagovi">
                <p>{{tag.id}} | {{tag.naziv}}</p>
            </div>
        </div>
    </div>
</div>