<div class="body">
  <div class="toolbar">
    <div class="tool-left">
        <img src="../assets/logoFinal.png">
    </div>
    <div class="tool-right">
        <label (click)="redirectToPredmeti()" class="labelMenu">HOME</label>
        <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
        <button (click)="redirectToLogin()" class="btnLOGIN" routerLink="/login">LOGIN</button>
    </div>

</div>
  
  <div class="prikaz">
  
  <div class="module-container" *ngIf="moduli">
    <div (click)="modulClick($event)" class="module" *ngFor="let modul of moduli">
      {{modul}}
    </div>
  </div>
  
 
  <div class="search-container">
    <input type="text" name="naziv" placeholder="Naziv predmeta za pretragu">
    <select name="tag">
      <option *ngFor="let tag of tagovi" [value]="tag">{{tag.naziv}}</option>
    </select>
    <select name="semestar">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
    </select>
    <button>Pretrazi</button>
  </div>
  <div class="predmet-container" *ngIf="predmeti">
    <div (click)="predmetClick($event)" class="predmet module" *ngFor="let predmet of predmeti" [id]="predmet.id">
      {{predmet.naziv}}
    </div>
  </div>
  </div>
  </div>
