<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<div class="body">
  <div class="toolbar">
    <div class="tool-left">
      <img src="../assets/logoFinal.png">
    </div>
    <div class="tool-right">
      <label (click)="redirectToPredmeti()" class="labelMenu">HOME</label>
      <label (click)="redirectToOglasna()" class="labelMenu">OGLASNA</label>
      <button (click)="redirectToLogin()" class="btnLOGIN" routerLink="/login" *ngIf="!isLoggedIn()">LOGIN</button>
      <label (click)="redirectToProfil()" class="lblPROFIL" routerLink="/login" *ngIf="isLoggedIn()">  <span class="material-symbols-outlined">
          account_circle
          </span>PROFIL</label>
    </div>

  </div>

  <div class="prikaz">

    <div class="module-container" *ngIf="moduli">
      <div (click)="modulClick($event)" class="module" *ngFor="let modul of moduli">
        {{modul}}
      </div>
    </div>


    <div class="search-container">
      <input [(ngModel)]="predmetSearch.naziv" type="text" name="naziv" placeholder="Naziv predmeta za pretragu">
      <select (change)="searchTagChange($event)" name="tag">
        <option disabled selected>Izaberi tag</option>
        <option *ngFor="let tag of tagovi" [value]="tag.naziv" [id]="tag.id">{{tag.naziv}}</option>
      </select>
      <select (change)="searchSemestarChange($event)" name="semestar">
        <option disabled selected>Izaberi semestar</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
      <button (click)="pretrazi()">Pretrazi</button>
    </div>
    <div class="predmet-container" *ngIf="predmeti">
      <div (click)="predmetClick($event)" class="predmet module" *ngFor="let predmet of predmeti" [id]="predmet.id">
        {{predmet.naziv}}
      </div>
    </div>
  </div>
</div>