.body {
    height: 100vh;
    background: linear-gradient(150deg, #fb7784, #29082b);
    font-family: 'PT Serif', serif;
    position: relative;
    
}

.module-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
button{
    cursor: pointer;
  }
.lblPROFIL
{
   
     color: white;
     background-color: transparent;
     border: none;
    padding: 10px 50px;
    width: auto;
    font-size: 90%;
   display: flex;
   flex-direction: row;
   gap: 10%;
 

}

.module {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(#ffe187, #e89d58);
    border-radius: 10px;
    animation: fadeIn 2s;
}

.search-container {
    display:flex;
    justify-content: center;
    padding: 20px;
}

.margin-left-small {
    margin-left: 20px;
}

.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    z-index: 1; 

}

.tool-right {
    display: flex;
    justify-content: flex-end;
    gap: 50%;
    margin-right: 12%;

}

.toolbar img {
    margin: 0 16px;
    width: 8%;
    float: left;

}

.labelMenu:hover {
    text-decoration: underline;
}

.labelMenu
{
    color: white;
    text-decoration: dotted;
    font-size: 100%;
    margin-top: 4%;
    padding:inherit;
}

.btnLOGIN {
    background-color: #e2496a;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 90%;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
    margin-right: 2%;

}