.body {
    height: 100vh;
    background: linear-gradient(150deg, #fb7784, #29082b);
    font-family: 'PT Serif', serif;
}

.module-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.module {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(#ffe187, #e89d58);
    border-radius: 10px;
    animation: fadeIn 2s;
}

.search-container {
    display:flex;
    justify-content: center;
    padding: 20px;
}

.margin-left-small {
    margin-left: 20px;
}