<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Client/src/oglasna-tabla/oglasna-tabla.component.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="board">
      <div class="toolbar">
        <button class="btnDodaj" onclick="dodajNote()">Dodaj stiker</button>
      </div>
    </div>

    <script>
  function dodajNote() {
    var noteMaker = document.createElement("div");
  noteMaker.classList.add("noteMaker");
  document.body.appendChild(noteMaker);

  var content = document.createElement("div");

  noteMaker.appendChild(content);
  
  var inputDiv=document.createElement("div");
  inputDiv.className="noteHolder"
  content.appendChild(inputDiv); 

  var inputDivDesign=document.createElement("div");
  inputDivDesign.className="noterounded";
  inputDiv.appendChild(inputDivDesign);

  var textArea = document.createElement("textarea");
  textArea.className="textArea";
  inputDivDesign.appendChild(textArea);

  var button = document.createElement("button");
  button.textContent = "Dodaj";
  button.className = "btnDodaj";

  content.appendChild(button);
}


    </script>
  </body>
</html>