

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Front</title>
 

  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/Client/src/main/main.component.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">



 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  
  <script>
    var app = angular.module("myApp", ["ngRoute"]);
    app.config(function($routeProvider) {
        $routeProvider
        .when("/Client/src/oglasna-tabla/oglasna-tabla.component.html", {
            templateUrl : "/Client/src/oglasna-tabla/oglasna-tabla.component.html"
        })
        .when("/Client/src/login/login.component.html", {
            templateUrl : "/Client/src/login/login.component.html"
        });
    });


    app.controller('myCtrl', ['$scope' , '$window', function($scope, $window) {
      
      $scope.goToPage = function() {
          $window.location.href = 'Client/src/login/login.component.html';
      };
    }]);
    </script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
   

  <div  class="toolbar">
    <div class="tool-left">
    <img src="/Client/src/slike/logoFinal.png">
  </div>
  <div  class="tool-right">
    <label class="labelMenu">PREDMETI</label>

    <a class="labelMenu" href="/Client/src/oglasna-tabla/oglasna-tabla.component.html">OGLASNA</a>
    <button ng-click="goToPage()" class="btnLOGIN">LOGIN</button>
  </div>


    
  </div>
  <div class="prikaz">
    <div class="prikaz-levo">
      <label class="labelMain">Izaberry.me portal</label>
      <label class="labelDobrodosli">Dobrodošli!</label>
         <p class="pDobro">Napravljen kako bi pomogao studentima da se organizuju tokom semestra na jednostavan i efikasan način.
           Aplikacija vam pomaže u izboru izbornih predmeta, organizayiju obaveza i povezivanje sa drugim studentima 
           kako biste organizovali učenje i društvene aktivnosti. Nadamo se da će vam ovaj portal olakšati organizaciju i dovesti do 
           boljih akademskih rezultata i opšteg iskustva tokom studija!
         </p>
         
      <button class="btntest">URADI TEST</button>



    </div>
    <div class="prikaz-desno">
      <img src="/Client/src/slike/comppic2.png">
    </div>
  </div>
  <div class="bottom-bar">
  </div>
</body>
</html>
